name: Deploy

on:
  workflow_dispatch:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make-sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
      - name: Build SDist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v6
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  build-wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - name: Build wheels
        run: |
          pipx run cibuildwheel
        env:
          CIBW_TEST_COMMAND: "pytest -vv {project}"
          CIBW_TEST_REQUIRES: pytest
          CIBW_SKIP: "*_i686 *-macosx_x86_64"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BEFORE_ALL_LINUX: >
            yum install -y
            cmake
            boost-devel
            eigen3-devel
            gmp-devel
            mpfr-devel
            CGAL-devel &&
            curl -LO https://github.com/cddlib/cddlib/releases/download/0.94n/cddlib-0.94n.tar.gz &&
            tar xf cddlib-0.94n.tar.gz &&
            cd cddlib-0.94n &&
            ./configure --prefix=/usr/local &&
            make -j && make install &&
            cd ..
          CIBW_BEFORE_ALL_MACOS: >
            brew install
            cmake
            boost
            eigen
            gmp
            mpfr
            cgal
            cddlib
          CIBW_ENVIRONMENT_MACOS: MACOSX_DEPLOYMENT_TARGET=14.0
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ github.event.release.tag_name }}-${{ matrix.os }}
          retention-days: 1
          path: wheelhouse/*.whl

  deploy-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [build-wheels]
    environment:
      name: pypi
      url: https://pypi.org/p/triangulumancer
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v7
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
