name: Deploy

on:
  workflow_dispatch:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  make-sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: "recursive"
      - name: Build SDist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v6
        with:
          name: cibw-sdist
          path: dist/*.tar.gz

  build-wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - name: Build wheels
        run: |
          pipx run cibuildwheel
        env:
          CIBW_TEST_COMMAND: "pytest -vv {project}"
          CIBW_TEST_REQUIRES: pytest
          CIBW_SKIP: "*_i686 *-macosx_x86_64 *-musllinux_*"
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BEFORE_ALL: >
            curl -L https://micro.mamba.pm/api/micromamba/$(uname -s | tr A-Z a-z)-$(uname -m)/latest |
            tar -xvj bin/micromamba &&
            ./bin/micromamba create -y -n buildenv -c conda-forge
            c-compiler
            cxx-compiler
            eigen
            cgal
            gmp
            libboost
            cddlib
            cmake
          CIBW_ENVIRONMENT: >
            PATH=$PWD/bin:$PATH
            CONDA_PREFIX=$PWD/micromamba/envs/buildenv
            CMAKE_PREFIX_PATH=$PWD/micromamba/envs/buildenv
            LD_LIBRARY_PATH=$PWD/micromamba/envs/buildenv/lib
            DYLD_LIBRARY_PATH=$PWD/micromamba/envs/buildenv/lib
      - name: Upload wheels
        uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ github.event.release.tag_name }}-${{ matrix.os }}
          retention-days: 1
          path: wheelhouse/*.whl

  deploy-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [build-wheels]
    environment:
      name: pypi
      url: https://pypi.org/p/triangulumancer
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - name: Download wheels
        uses: actions/download-artifact@v7
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
