name: Build and test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-14]
        python-version: ["3.9", "3.14"]
    # Required for miniconda to activate conda
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
      - name: Get micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: test-env
          init-shell: bash
          create-args: >-
            python=${{ matrix.python-version }}
            c-compiler
            cxx-compiler
            eigen
            cgal
            gmp
            libboost
            cmake
      - name: Pip install the package
        run: python -m pip -v install .[test]
      - name: Run pytest
        run: |
          pytest -vv

  check:
    name: Check jobs
    if: always()
    needs: [build-and-test]
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
